div.tp-bgimg.defaultimg {
  background-position: center center !important;
}
a.navbar-brand {
  padding: 0;
}
.navbar-brand img {
  width: 265px;
}
.overlay {
	width: 300px;
  height: inherit;
}
.tp-caption.modern_big_redbg {
  background-color: #da251d;
}
div#page-top.fullwidthbanner {
  height: 93vh !important;
}
